{{extend 'layout.html'}}

{{block head}}
<style>

h1{
  margin-top: 30px;
  text-align: left;
}

content{
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}

</style>
{{end}}

<div class="main_content">
  <div class="container">
    <h1>Overview</h1>
    <p class="content"> SpotQueue is a forum of entertainment in which users can control what music they want to hear in their surroundings. It allows students at the University of California, Santa Cruz campus to add songs of their choice to the queue in compatible facilities. Once logged in to an active Spotify account, the user can add songs to the queue of the respective facility whether it's the dining hall, OPERS gym, or a classroom. Depending on the user location, SpotQueue will determine which facility it needs to connect to. 

    <h1>Why SpotQueue?</h1>
    <p class="content"> Employees typically act as a "DJ" and play music at the dining hall, gym, and other facilities on campus. However, it would be more efficient and preferable to just allow students to choose what songs they want to hear instead of having the employee make the choice for thme. SpotQueue allows everyone to listen the music of their choice. 
  </div>

</div>

