{{extend 'layout.html'}}

{{block head}}
<style>

h1{
  margin-top: 30px;
  text-align: left;
}

content{
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}

</style>
{{end}}

<div class="main_content">
  <div class="container">
    <h1>Overview</h1>
    <p class="content"> Spotqueue is a collection of playlists for facilities around campus. Each facility will have its own separate playlist which all 
      belong to a central Spotify account. Students will use Spotqueue to queue songs to a facility playlist. Depending where the student is on campus, 
      Spotqueue will automatically determine which playlist the song should be queued to. 
    <h1>Why it's needed</h1>
    <p class="content"> Employees typically act as a "DJ" and play music at the Dining Hall, Gym and other facilities. However, it would be more efficient
     to just allow students to choose what songs they want to listen to instead of having the employee choose songs. Spotqueue lets everyone listen to the 
     songs they want while allowing employees to focus on more important tasks.
  </div>

</div>

