{{extend 'layout.html'}}

{{block head}}
<style>

h1{
  margin-top: 30px;
  text-align: left;
}

content{
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}

</style>
{{end}}

<div class="main_content">
  <div class="container">
    <h1> Frequently Asked Questions </h1>
    <br></br>
    <br></br>
    <h2>Do I need a Spotify account to use SpotQueue?</h2>
    <p class="content"> Yes you do. In order to use the SpotQueue service, you need to be able to login to a compatible Spotify account.</p>
    <br></br>
    <h2>Is there a mobile version of this website?</h2>
    <p class="content"> There is a mobile version that is accessible from any device.</p>
    <br></br>
    <h2>Are there only specific playlists that I can play?</h2>
    <p class="content"> Once you are logged into your Spotify account, you can choose any songs from any playlist to add to your queue. </p>
    <br></br>
    <h2>Can Luca give our project an A?</h2>
    <p class="content"> Of course, he definitely will. </p>
    <br></br>
  </div>

</div>

