{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var initial_data_url = "{{=URL('api', 'get_initial_data')}}";
    //var get_songs_url = "{{=URL('api', 'get_songs')}}";
    var search_songs_url = "{{=URL('api', 'search_songs')}}";
    var add_to_queue_url = "{{=URL('api', 'add_to_queue')}}";
    var get_playlists_url = "{{=URL('api', 'get_playlists')}}";
    var get_tracks_url = "{{=URL('api', 'get_tracks')}}";
</script>

{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
      <main v-if="logged_in" role="main">
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Hello, ${current_user}</h1>
              <p>Thank you for using spotipy!</p>
              <p><a class="btn btn-primary btn-med" href="#" role="button">Learn more &raquo;</a></p>
            </div>
          </div>

          <div class="container">
            <!-- Facility name -->
            <div class="row">
              <div class="col-md-6">
                <h1>Facility: Phys Sci 130</h1>
              </div>
            </div>
            <!-- Search bar row -->
            <div class="row" style="margin-top: 25px">
              <div class="col-md-4">
                <h2>Search Songs:</h2>
                <form class="form-inline active-purple-3 active-purple-4">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <input v-model="search" v-on:blur="search_songs(search)" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Track name" aria-label="Search">
                </form>
              </div>
            </div>
            <!-- Search results row -->
            <div class="row">
              <div class="col-md-6">
                <table v-if="search_results.length > 0" class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Artist</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(result, index) in search_results">
                      <th scope="row">${ ++index }</th>
                      <td>${ result['name'] }</td>
                      <td>${ result['artists'][0]['name'] }</td>
                      <td><button v-on:click="add_to_queue(result['uri'])" class="btn btn-outline-purple btn-sm">Add to Queue</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Current Song, Queued Songs, Select Playlist -->
            <div class="row" style="margin-top: 40px">
              <div class="col-md-4">
                <h2>Current Song:</h2>
              </div>
              <div class="col-md-4">
                <h2>Queued Songs:</h2>
              </div>
              <div class="col-md-4">
                <div class="dropdown">
                  <h4>Select Playlist
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ${current_user}'s Playlists
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-for="playlist in user_playlists" v-on:click="get_tracks_from_playlist(playlist['id'])" class="list-group-item list-group-item-action list-group-item-success">${ playlist['name'] }</a>
                  </div>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action list-group-item-success">{{=current_song}}</a>
                </div>
                <br />
              </div>
              <div class="col-md-4">
                <div class="list-group">
                  {{ if playlist_tracks is not None: }}
                    {{ for item in playlist_tracks: }}
                      {{ if item['track']['name'] != current_song: }}
                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">{{= item['track']['name'] }}</a>
                      {{ pass }}
                    {{ pass }}
                  {{ pass }}
                </div>
                <br />
              </div>
              <div class="col-md-4">
                  {{ if auth.user is not None: }}
                    {{ if auth.user.access_token is None: }}
                      <a href="{{=URL('default', 'callback')}}" class="btn btn-primary">Log in with Spotify</a>
                    {{ else: }}
                      <a v-if="tracks_in_playlist.length == 0" class="list-group-item list-group-item-action list-group-item-success">No songs</a>
                      <a v-for="item in tracks_in_playlist" class="list-group-item list-group-item-action list-group-item-success">
                          ${ item['track']['name'] }
                          <br />
                          <button v-on:click="add_to_queue(item['track']['uri'])" class="btn btn-outline-purple btn-sm">Add to Queue</button>
                      </a>
                    {{ pass }}
                  {{pass}}
              </div>
            </div>

            <hr>

          </div> <!-- /container -->

        </main>

      <div v-if="!logged_in" id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img class="first-slide" src="../static/images/sign.jpg" height="70%" width="100%" alt="First slide" absolute>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Welcome to SpotQueue</h1>
                <p>Click the link below to get started if you don't already have a SpotQueue account. </p>
                <p><button class="btn btn-lg btn-primary w2p-form-button" onclick="window.location='/spotqueue/default/user/register';return false">Sign Up</button></p>

              </div>
            </div>
          </div>

          </div>




        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

          <div v-if="!logged_in" class="container marketing">

            <!-- Three columns of text below the carousel -->
            <br></br>
            <div class="row">
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/spotify.png" width="140" height="140">
                <h2>New to Spotify?</h2>
                <p>If you don't already have a Spotify account, it's quick to make one. In order to use SpotQueue, you are required to have your own accessible Spotify account.</p>
                <p><a class="btn btn-secondary" href="https://www.spotify.com/us/" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/ucsc.png" alt="Generic placeholder image" width="140" height="140">
                <h2>UC Santa Cruz</h2>
                <p>Currently SpotQueue works only on the University of California, Santa Cruz campus facilities. Click below to find out more information about UCSC. </p>
                <p><a class="btn btn-secondary" href="https://www.ucsc.edu" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/html.png" alt="Generic placeholder image" width="140" height="140">
                <h2>CMPS 183</h2>
                <p>This website is a project for our CMPS 183: Web Applications course offered at UCSC. Follow the link provided to find out more details about what this class entails.</p>
                <p><a class="btn btn-secondary" href="https://sites.google.com/a/ucsc.edu/luca/classes/cmps-183-hypermedia-and-the-web/cmps-183-spring-2018" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider" spaced padded>

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Stream while you eat. <span class="text-muted">Dining hall integration available.</span></h2>
                <p class="lead">You no longer have to sit and listen to music you don't like while you eat at the dining hall. Feel free to control your environment and choose what music plays while you're enjoying a meal with your friends.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="../static/images/dhall.png" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider" color="rgb(132, 189, 0)">

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Enhance your workout. <span class="text-muted">Play your favorite songs.</span></h2>
                <p class="lead">Don't worry if you forgot your headphones, you can still pick what you listen to at the gym. SpotQueue is compatible with the OPERS sound system.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="../static/images/gym.png" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Customize your classroom. <span class="text-muted">Play the song of your choice.</span></h2>
                <p class="lead">Connect your Spotify account to a compatible classroom and project your music on the loudspeaker.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="../static/images/class.png" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
          </div>
        </div><!-- /.container -->
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>