{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var initial_data_url = "{{=URL('api', 'get_initial_data')}}";
    var get_songs_url = "{{=URL('api', 'get_songs')}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
      <main v-if="logged_in" role="main">
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Hello, ${current_user}</h1>
              <p>Thank you for using spotipy!</p>
              <p><a class="btn btn-primary btn-med" href="#" role="button">Learn more &raquo;</a></p>
            </div>
          </div>

          <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <h2>Current Song:</h2>
                <p>{{= current_song }}</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Queued Songs:</h2>
                <ul class="container">
                  <li>song 1</li>
                  <li>song 2</li>
                </ul>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Playlists</h2>
                <ul class="container">
                  <li>song 1</li>
                  <li>song 2</li>
                </ul>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>

            <hr>

          </div> <!-- /container -->

        </main>

      <div v-if="!logged_in" id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img class="first-slide" src="../static/images/sign.jpg" height="70%" width="100%" alt="First slide" absolute>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Welcome to SpotQueue</h1>
                <p>Click the link below to get started if you don't already have a SpotQueue account. </p>
                <p><button class="btn btn-lg btn-primary w2p-form-button" onclick="window.location='/spotqueue/default/user/register';return false">Sign Up</button></p>

              </div>
            </div>
          </div>
          
          </div>




        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

          <div v-if="!logged_in" class="container marketing">

            <!-- Three columns of text below the carousel -->
            <br></br>
            <div class="row">
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/spotify.png" width="140" height="140">
                <h2>New to Spotify?</h2>
                <p>If you don't already have a Spotify account, it's quick to make one. In order to use SpotQueue, you are required to have your own accessible Spotify account.</p>
                <p><a class="btn btn-secondary" href="https://www.spotify.com/us/" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/ucsc.png" alt="Generic placeholder image" width="140" height="140">
                <h2>UC Santa Cruz</h2>
                <p>Currently SpotQueue works only on the University of California, Santa Cruz campus facilities. Click below to find out more information about UCSC. </p>
                <p><a class="btn btn-secondary" href="https://www.ucsc.edu" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/html.png" alt="Generic placeholder image" width="140" height="140">
                <h2>CMPS 183</h2>
                <p>This website is a project for our CMPS 183: Web Applications course offered at UCSC. Follow the link provided to find out more details about what this class entails.</p>
                <p><a class="btn btn-secondary" href="https://sites.google.com/a/ucsc.edu/luca/classes/cmps-183-hypermedia-and-the-web/cmps-183-spring-2018" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider" spaced padded>

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Stream while you eat. <span class="text-muted">Dining hall integration available.</span></h2>
                <p class="lead">You no longer have to sit and listen to music you don't like while you eat at the dining hall. Feel free to control your environment and choose what music plays while you're enjoying a meal with your friends.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="../static/images/dhall.png" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider" color="rgb(132, 189, 0)">

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Enhance your workout. <span class="text-muted">Play your favorite songs.</span></h2>
                <p class="lead">Don't worry if you forgot your headphones, you can still pick what you listen to at the gym. SpotQueue is compatible with the OPERS sound system.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="../static/images/gym.png" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Customize your classroom. <span class="text-muted">Play the song of your choice.</span></h2>
                <p class="lead">Connect your Spotify account to a compatible classroom and project your music on the loudspeaker.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="../static/images/class.png" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
          </div>
        </div><!-- /.container -->
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
