{{extend 'layout.html'}}

{{block head}}
<style>

h1{
  margin-top: 30px;
  text-align: left;
}

content{
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}

</style>
{{end}}

<div class="main_content">
    <h1><center>Meet The Team </center></h1>
    <br></br>
            <div class="row">
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/andrew.png" width="140" height="140">
                <h2>Andrew Gelman</h2>
                <h5>Front End Developer</h5>
                <p>In charge of managing user interaction.</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Front-end_web_development" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/alex.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Alex Angelidis</h2>
                <h5>Front End Developer</h5>
                <p>Utilized HTML, CSS, and JavaScript to code the pages.</p>
                <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Front-end_web_development" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/dylan.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Dylan Kleinman</h2>
                <h5>Full Stack Developer</h5>
                <p>Worked with both the front and back end of the website in regards to implementing framework.</p>
                <p><a class="btn btn-secondary" href="https://codeup.com/what-is-a-full-stack-developer/" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <br></br>
            <div class="row">
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/ryan.png" width="140" height="140">
                <h2>Ryan Bishop</h2>
                <h5>Back End Developer</h5>
                <p>Creating and modifying the behind-the-scenes of the Spotify functionality.</p>
                <p><a class="btn btn-secondary" href="https://simpleprogrammer.com/what-is-back-end-development/" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4" align="middle">
                <img class="rounded-circle" src="../static/images/mitri.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Mitri Syriani</h2>
                <h5>Quality Assurance and Designer</h5>
                <p>Developed our logo and tested our website functions to make sure they run smoothly.</p>
                <p><a class="btn btn-secondary" href="https://www.indeed.com/q-Web-Developer-Internship-jobs.html" role="button">Learn More &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
  </div>

</div>

